/* COLOR PALETTE */
$light-cornflower-blue: #8ecae6ff;
$blue-green: #219ebcff;
$blue-sapphire: #126782ff;
$prussian-blue: #023047ff;
$selective-yellow: #ffb703ff;
$orange-peel: #fd9e02ff;
$tangerine: #fb8500ff;
